@import "bootstrap/dist/css/bootstrap.min.css";

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}
h1,
h2 {
  font-weight: 900;
  line-height: 1em;
}

h2 {
  color: #502314;
  font-size: 60px;
}

h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.3em;
}

h3 {
  color: #502314;
  font-size: 25px;
}

h4 {
  color: #502314;
  font-weight: 500;
  font-size: 25px;
}

h6 {
  color: #502314;
  font-size: 25px;
}

p {
  font-weight: 400;
  line-height: 1.5em;
}

img {
  max-width: 100%;
  height: auto;
}

.btn.btn-primary {
  background-color: #d62300;
  border: 1px solid #d62300;
  color: #fff;
  border-radius: 25px;
  padding: 12px 35px;
}

.bg-primary {
  background-color: #f5ebdc !important;
}

#about,
#work,
#service,
#contact {
  padding-top: 110px;
}

/* Header Area */
#main_menu nav {
  background-color: #ebe2d3;
  font-weight: 500;
}
#main_menu nav li {
  margin-left: 15px;
}

#mainmenu a.active {
  color: #d62300;
  font-weight: bold;
  font-size: larger;
  text-decoration: underline;
}

/* Carousel Section */

#slider {
  padding-top: 85px;
}

/* Contact Area */
#contact {
  background: url(assets/images/map.jpg);
}

/* Footer Area */
#footer form .btn.btn-primary {
  border-radius: 0%;
}
#footer ul li a {
  color: #262626;
  font-weight: 500;
  text-decoration: underline;
}

#footer .social li {
  display: inline-block;
  margin-right: 15px;
}

/* Responsive */
@media only screen and (max-width: 600px) {
  #main_menu img {
    width: 200px;
  }
  #slider {
    padding-top: 58px;
  }
  #about,
  #work,
  #service,
  #contact {
    padding-top: 35px;
  }
  h2 {
    font-size: 35px;
    text-transform: uppercase;
  }
  h4 {
    font-size: 20px;
  }
  h6 {
    font-size: 16px;
  }
}
